.header-blue {
    background-color:#184e8e;
  }
  
  
  
  .header-blue .navbar {
    background:transparent;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
    display: block !important;
  }
  .header-blue #navcol-1{
    display: contents !important;
  }
    

  .header-blue .action-button{
    border:1px solid rgba(255,255,255,0.7);
    border-radius:40px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:.3rem .8rem;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
  }

  



  
  