<div class="row container-login">
  <div class="col-md-6 login-form">
    <img
      class="logo-pervolare"
      src="assets/images/logo-pervolare.jpg"
      width="200px"
    />
    <h1 class="sign-in">Sign in</h1>
    <span>use your account</span><br>
    <small class="error-message" *ngIf="errorMessage">That username or password didn't work.</small>
    <div>
      <input
        type="text"
        [(ngModel)]="email"
        class="form-control input-form"
        id="input_email"
        placeholder="Email"
      />
    </div>
    <div>
      <input
        [(ngModel)]="password"
        type="password"
        class="form-control input-form"
        id="input_password"
        placeholder="Password"
      />
    </div>
    <a href="#">Forgot your password?</a><br />
    <input
      class="btn-sign-in"
      type="submit"
      (click)="validForm()"
      value="SIGN IN"
    />
  </div>
  <div class="col-md-6 login-info">
    <h1 class="title-sign-up">Welcome</h1>
    <p class="subtitle-sign-up">
      Enter your personal details and start journey with us
    </p>
    <img src="assets/images/paperplane.gif" width="150px" /><br />
    <button class="btn-sign-up">SIGN UP</button>
  </div>
</div>
